    <div id="input_select_stripes" class="d-inline-block text-start ms-1" style="width: 12rem;">
        <label class="form-label ms-1 mb-0 fw-bold">Next Stripe Name:</label>
        <select name="studentBeltStripes"
                id="studentBeltStripes"
                class="form-select"
                hx-get="/upd_requirements_htmx"
                hx-trigger="change"
                hx-target="#div_attendance_counts"
                hx-include="#hdnBadgeNumber"
                hx-swap-oob="true">
            {% for stripe_record in stripe_records %}
                <option value="{{ stripe_record.stripeId }}" {% if stripe_record.stripeId == next_stripe_id %}selected{% endif %}>{{ stripe_record.stripeTitle }}</option>
            {% endfor %}
        </select>
    </div>