<div id="div_attendance_counts" class="row w-100 mt-2" hx-swap-oob="true" >
    <h5 class="fw-bold mt-3 justify-start" style="width: 15rem;">Attendance Counts:</h5>

    <div class="d-inline-block text-start ms-1" style="width: 12rem;" >
        <label class="form-label ms-1 mb-0 fw-bold">Total classes attended:</label>
        <input
                id="inpTotalClassesAttended"
                name="inpTotalClassesAttended"
                type="text"
                class="form-control"
                disabled
                value="{{total_attendance_count}}"
        >
    </div>

    <div class="d-inline-block text-start ms-1" style="width: 12rem;" >
        <label class="form-label ms-1 mb-0 fw-bold">Classes since belt:</label>
        <input
                id="inpBeltClassesAttended"
                name="inpBeltClassesAttended"
                type="text"
                class="form-control"
                disabled
                value="{{belt_attendance_count}}"
        >
    </div>

    <div class="d-inline-block text-start ms-1" style="width: 12rem;" >
        <label class="form-label ms-1 mb-0 fw-bold">Classes since stripe:</label>
        <input
                id="inpStripeClassesAttended"
                name="inpStripeClassesAttended"
                type="number"
                class="form-control"
                value="{{stripe_attendance_count}}"
                disabled
        >
    </div>
</div>
