<div id="divPromotionHistory" class="row mt-5" hx-swap-oob="true">
    <h6 class="fw-bold" >
        Student promotion history.
    </h6>
    <hr>
    <table id="tblStudentPromotions" class="ms-3">
        <thead>
        <tr>
            <th>Belt name</th>
            <th>Stripe name</th>
            <th>Promotion date</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody id="tbodyStudentPromotions">
            {% for promotion_record in promotions_list %}
            <tr>
                <td>{{promotion_record.beltTitle}}</td>
                <td>{{promotion_record.stripeTitle}}</td>
                <td><input type="date" id="promotion-date-inp-{{promotion_record.promotionId}}" value={{promotion_record.promotionDate}} ></td>
                <td>
                    <button type  = "button"
                            id    = "save-{{promotion_record.promotionId}}"
                            class = "btn btn-sm btn-success"
                            onclick = "savePromotionDate({{promotion_record.promotionId}})">
                        Save
                    </button>
                    <button type  = "button"
                            id    = "del-{{promotion_record.promotionId}}"
                            class = "btn btn-sm btn-success"
                            onclick = "delPromotionRecord({{promotion_record.promotionId}})">
                        Delete
                    </button>

                </td>

            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

