<div id="divPromotionHistory" class="row mt-5 pb-3" hx-swap-oob="true">
    <h6 class="fw-bold" >
        Student promotion history.
    </h6>
    <hr>
    <table id="tblStudentPromotions" class="ms-3">
        <thead>
        <tr>
            <th>Belt name</th>
            <th>Stripe name</th>
            <th>Promotion Type</th>
            <th>Promotion date</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody id="tbodyStudentPromotions">
            {% for promotion_record in promotions_list %}
            <tr>
                <td>{{promotion_record.beltTitle}}</td>
                <td>{{promotion_record.stripeTitle}}</td>
                <td>{{promotion_record.promotionType}}</td>
                <td>{% include 'controls/input_promotion_history_date.html' %}
                </td>
                <td>
                    <input type="hidden" id="hdn_promotion_id-{{promotion_record.promotionId}}" name="hdn_promotion_id" value="{{promotion_record.promotionId}}">
                    <button type  = "button"
                            id    = "btn-save-history-{{promotion_record.promotionId}}"
                            class = "btn btn-sm btn-success"
                            hx-get="/save_promotion_date_htmx"
                            hx-trigger="click"
                            hx-include="closest tr"
                            hx-target="#lblPromotionSaveResponse">
                        Save
                    </button>
                    <button type  = "button"
                            id    = "del-{{promotion_record.promotionId}}"
                            class = "btn btn-sm btn-success"
                            onclick = "delPromotionRecord({{promotion_record.promotionId}})"
                            disabled>
                        Delete
                    </button>

                </td>

            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

