<div class="row">
<h5 class="fw-bold mb-2 ms-2 d-inline-block float-start" style="width: 25rem;">Start by entering the student name:</h5>
<input type="text"
       id="name_search"
       name="name_search"
       placeholder="Type to search..."
       hx-get="/student_search_by_name"
       hx-trigger="input change delay:300ms, search"
       hx-target="#students"
       hx-swap="innerHTML"
       list="students"
       autocomplete="off"
       class="form-control d-inline-block float-start"
       style="width: 15rem;"
>
<!-- This datalist element will be populated dynamically by HTMX -->
<datalist id="students">
    <!-- Dynamic options appear here -->
</datalist>
<hr class="m-2 w-75">
</div>
