<div id="div_next_promotion" class="row w-100 mt-2" hx-swap-oob="true">
    <h5 id="hdr_next_promotion" class="fw-bold mt-3 justify-start" style="width: 15rem;">Next Promotion:</h5>
    <div class="d-inline-block text-start" style="width: 12rem;">
        <label class="form-label ms-1 mb-0 fw-bold">Rank Name:</label>
        <select name="studentBeltNames"
                id="studentBeltNames"
                class="form-select"
                hx-get="/get_stripes_htmx"
                hx-trigger="change"
                hx-include="#hdnBadgeNumber"
                hx-target="#studentBeltStripes">
            {% for belt_record in belts_records %}
                <option value="{{ belt_record.beltId }}" {% if belt_record.beltId == current_belt_id %}selected{% endif %}>{{ belt_record.beltTitle }}</option>
            {% endfor %}
        </select>
    </div>

    {% include 'controls/input_select_stripes.html' %}

    <div class="d-inline-block text-start ms-1" style="width: 12rem;">
        <label class="form-label ms-1 mb-0 fw-bold">Next Promotion Date:</label>
        <input id="studentPromotionDate"
               name="studentPromotionDate"
               type="date"
               class="form-control"
               value="{{initial_promotion_date}}">
    </div>
</div>
