<div id="div_student_details" name="div_student_details" hx-swap-oob="true">
    <h5 class="fw-bold text-center">Student Details</h5>
    <div class="d-inline-block text-start ms-1" style="width: 13rem;">
        <label class="form-label ms-1 mb-0 fw-bold">Student Name:</label>
        <input id="inp_student_name" name="inp_student_name" type="text" class="form-control" value="{{student_name}}" readonly>
    </div>

    <div class="d-inline-block text-start ms-1" style="width: 13rem;">
        <label class="form-label ms-1 mb-0 fw-bold">Current Rank:</label>
        <input id="inp_student_rank" name="inp_student_rank" type="text" class="form-control" value="{{student_rank}}" readonly>
    </div>

    <div class="d-inline-block text-start ms-1" style="width: 13rem;">
        <label class="form-label ms-1 mb-0 fw-bold">Current Stripe:</label>
        <input id="inp_student_stripe" name="inp_student_rank" type="text" class="form-control" value="{{student_stripe}}" readonly>
    </div>

</div>