{% extends "base.html" %}

{% block title %}
Promotion management functions
{% endblock %}

{% block styles %}
    {{super()}}
{% endblock %}

{% block scripts %}
    {{super()}}
{% endblock %}

{% block content %}
<h2>Promotions Manager</h2>
<div style="background-color: #f2ffe6;" class="pt-2">
    <div class="row d-flex justify-content-center small">
        {% include 'partials/student_search.html' %}
        <div id="frmCreate" class="row w-100 d-flex justify-content-center mainForm">
            <div class="row">
                <div class="col-sm-12 pt-3">
                    <form id="frmStudentPromotions">
                        {% include 'partials/student_details.html' %}
                        {% include 'partials/student_promotions.html' %}
                        {% include 'partials/attendance_counts.html' %}
                        {% include 'partials/required_counts.html' %}
                        {% include 'partials/promotion_message.html' %}
                        <div class="row w-100 mt-3">
                            <button id="btnPromotionSave"
                                    name="btnPromotionSave"
                                    type="button"
                                    class="btn btn btn-primary"
                                    style="width: 12rem; height: 3rem;"
                                    onclick="fncPromotionSave()"
                                    hx-get="/upd_student_rank_htmx"
                                    hx-trigger="click"
                                    hx-include="#frmStudentPromotions"
                                    hx-target="#lblPromotionSaveResponse"
                                    >Save Promotion
                            </button>
                            <label id="lblPromotionSaveResponse" class="fw-bold fs-5 ms-1 mt-3 text-success" style="width: 35rem;">Awaiting input ...</label>
                        </div>
                        {% include 'partials/promotion_history.html' %}
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="application/javascript" src="{{ url_for('promotions_bp.static',filename='promotions.js') }}"></script>


{% endblock %}